PORT=5000
MONGODB_URI=mongodb+srv://neutral21:Nicex10@cluster00.rrqk9kx.mongodb.net/test?retryWrites=true&w=majority&appName=Cluster00
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
CLIENT_URL=http://localhost:3000
NODE_ENV=development 